[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
scikit-learn = "==0.24.1"
pandas = "*"
numpy = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
